body{
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
    color: #22343d;
}

.logotype{
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93333;
    color: #173a56;
}